@model OpenWeather.Models.OpenWeatherApp
@{
    ViewData["Title"] = "Home Page";
}

<h1>Implement OpenWeatherMap API in ASP.NET MVC</h1>
@using (Html.BeginForm())
{
    <button id="reset" name="reset">Reset »</button>
}
<div id="apiDiv">
    <h4>Select the City for Weather Report</h4>
    @using (Html.BeginForm())
    {
        <div class="form-group">
            @Html.LabelFor(model => model, "Wprowadź miasto:")
            @Html.TextBoxFor(m => m.city, new { @class = "form-control" })
        </div>

        <button class="btn btn-primary">Szukaj</button>
    }
    <div id="message">@Html.Raw(Model.apiResponse)</div>
</div>

<a class="title-a" asp-area="" asp-controller="" asp-action="Add">
    <button class="btn btn-primary">Pobierz set</button>
</a>

