html {
  font-size: 12px;
}

@media (min-width: 768px) {
  html {
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
    html {
        font-size: 24px;
    }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 2rem;
}

/*--------------------------------------------------------------
# Navbar
--------------------------------------------------------------*/
.navbar {
    background-color: #ffffff;
    box-shadow: 0.05rem 0.2rem 1rem rgba(100, 100, 100, 0.3);
    font-size: 1.5rem;
}

.navbar .container p {
    margin-bottom: 0.8em;
    margin-top: 0.8em;
    color: green;
    font-weight: 900;
}

.navbar-title {
    color: blue
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
.content-box {
    font-size: 1rem;
    margin-top: 7rem;
}

